
# Playwright Don't Add These Files
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.idea/
.vscode/
/CX*
.DS_Store
tests/malaysia/.env
storageState.json
.env.stagingCX
.env.qa
.auth
.prettierignore
.prettierrc
/.husky/
/car-data/